*, *::before, *::after{
   margin:0;
   padding:0;
   box-sizing: border-box;
}



body{
   background-color: #3E3E3E;
   overflow:hidden;
   color:white;
}

#root{
   display:flex;
   align-items: baseline;
   align-items: unset;
}


*{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
   display: none;
}

button{
   background-color: #0085FF;
   border:1px solid white;
   color:white;
   padding:6px 10px;
   font-size:0.8em;
   width:100%;
   border-radius:5px;
   margin:10px auto;
}
