.kalkulatorPage_main{
   position:relative;
   left:0vw; top:10vh;
   width: 70vw;
   margin:20px;





   .KalkulatorMenu{
      display:flex;
      position:relative;
      color:white;
         li{
            width:25%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:10px 0px;

            figure{
               text-align: center;

               img{
                  transform:scale(0.6)
               }
               figcaption{
                  margin-bottom:10px;
               }
            }
         }


         li:hover{
            background-color: rgb(175, 175, 185);
         }


         .active{
            background-color: #272727;
            border-radius: 10px 10px 0px 0px;
         }
   }




   #Kalkulator-Container{
      background-color: #272727;
      padding:40px;
      min-height: 66vh;
      border-radius: 0px 0px 10px 10px;
      display:flex;
      align-items: center;
      justify-content: space-around;

      
      form{
         display:flex;
         flex-direction: column;
         align-items: center;
         padding:20px;
         
         input{
            border:none;
            border-bottom:1px solid #0085FF;
            background-color: transparent;
            color:white;
            padding:10px;
            width:350px;
         }

         
         input[type="submit"]{
            background-color: #0085FF;
            width:max-content;
            border-radius:4px;
            margin-top:15px;
            padding: 10px 30px;
            border:1px solid white;
         }
      }
   }


   #section_score{
      position:relative;
      border:1px solid #0085FF;
      padding: 25px;
      height:32vh;
      z-index:20; // usunać później.
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      width:45%;
      border-radius:20px;


         div{
            width:100%;
            margin-top:10px;
            display:flex;
            justify-content: space-between;
            align-items: center;

            #itemName, #price,select{
               border:none;
               width:60%;
               border-bottom:1px solid #0085FF;
               background-color:transparent;
               color:white;
               padding:4px 0px;
            }

            select{
               option{
                  color:black;
                  background-color: red;
                  border:none;
               }
            }


            button{
               width:fit-content;
            }
         }



         .msg{
            text-align:center;
            font-size:0.8rem;
            color:#fff;
            margin-top:5px;
         }

   }
}



aside{
   border-left: 1px solid #0085FF;
   height:100vh;
   left:3vw;
   width:25vw;
   padding:30px;
   position:relative;
   color:white;

   #section_lists{
      header{
         color:#0085FF;
         text-align: center;
         margin:10px 0px;
      }
   
      ol{
         overflow-y: scroll;
         max-height:85vh;
         .list{
            display:flex;
            flex-direction: column;
            background-color: #0085FF;
            border-radius:4px;
            border-top:1px solid white;   
            margin-top:7px;

            div{
               display:flex;
               justify-content: space-between;
               align-items: center;

               p, .deleteBTN{
                  padding:10px
               }
               p{
                  width:100%;
                  height:100%;
               }
               .deleteBTN{
                  z-index:2;
                  width:10%;
                  top:0; right:0;
                  text-align: center;
               }
               .deleteBTN:hover{
                  background-color: #000000b2;
               }
         
            }

            .hiddenlist{
               // reset buttonow
               button{
                  all:unset;
               }

               background-color: #616060;
               list-style: none;
               color:black;
               padding:4px;
               color:white;
  
              li{
                 padding: 20px 20px;
                 border-bottom:1px solid white;
                 margin-top:10px;
                 background-color: #272727;
                 .item_header{
                    all:unset;
                    display:flex;
                    align-items: center;
                    font-size:20px;

                     .item_tittle{
                        height:100%;
                        width:calc(100% - 40px);
                        text-align: center;
                        font-weight: 1000;
                     }

                     .item_button{
                        transform: scale(1);
                        background-color: transparent;
                        color:red;
                        width:30px;
                        height:30px;
                        text-align: center;
                        font-size:20px;
                  }
                 }


                 .item_stats{
                    display:flex;
                    margin:10px 0px;
                    flex-direction: row;
                    justify-content: space-around;
                    margin:20px 0px;
                    .unit{ color: #0085FF}
                 }


                 .item_counter{
                  display:flex;
                     flex-direction: row;
                     justify-content: center;
                     align-items: center;
                     font-size: 20px;

                     button{
                        position:relative;
                        color:#0085FF;
                        width:40px; height:40px;
                        text-align: center;
                        margin:0 20px;
                        cursor:pointer;
                        
                     } 

                     .item_amount{
                        border:1px solid #0085FF;
                        border-radius:40;
                        padding:5px 20px; 
                        border-radius:10px;
                     }
                 }
              }
            }
         } 
      }
   }


   .lists_options{
      border-top: 1px solid #0085FF;
      width: 80%;
      height: 15vh;
      position:absolute;
      bottom:0; left:10%;
      display:flex;
      flex-direction: column;
      justify-content: center;
      input[type="text"]{
         width:100%;
         padding:5px 10px;
         border-radius:4px;
      }
   }
}